button::before {
    content: 'Pasa por encima';
}

button:hover::before {
    background-color: green;
    color: white;
    content: '¡Hecho!';
}

/* o 

.btn:hover {
    background-color: green;
    color: white;
}
.btn::before {
    content: "Pasa por encima"
}
.btn:hover::before {
    content: "¡Hecho!";
} */
